{% extends 'baseadmin1.html.twig' %}

{% block title %}Vehicule{% endblock %}

{% block body %}
    <h1>Vehicule</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vehicule.id }}</td>
            </tr>
            <tr>
                <th>Type_vehicule</th>
                <td>{{ vehicule.typeVehicule }}</td>
            </tr>
            <tr>
                <th>Num_chassis</th>
                <td>{{ vehicule.numChassis }}</td>
            </tr>
            <tr>
                <th>Num_immatriculation</th>
                <td>{{ vehicule.numImmatriculation }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_vehicule_index') }}">back to list</a>

    <a href="{{ path('app_vehicule_edit', {'id': vehicule.id}) }}">edit</a>

    {{ include('vehicule/_delete_form.html.twig') }}
{% endblock %}
